* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1202px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

body {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.loaded {
    opacity: 1;
}